<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Murray Hopper</title>
</head>
<body>
    <h1>Grace Murray Hopper</h1>
    <img src="/img/220px-Commodore_Grace_M._Hopper,_USN_(covered)_head_and_shoulders_crop.jpg" alt="Grace Murray Hopper">
    <p>Popularizó la idea de los lenguajes de programación independientes de la máquina, lo que derivó en el desarrollo de COBOL, un lenguaje de alto nivel de programación que aún se utiliza. Era conocida por sus amistades como Amazing Grace.</p>
</body>
</html>